@charset "UTF-8";

/*
 * Slideshow
 */
* {
	font-family: 'Nanum Gothic';
}

.list{
    margin-top: -30px;
    text-align: right;	
}	

.grid1 img{
	opacity: 1;
	display: inline-block;	
}

.topbar-wrap {
			min-width: 1000px;
			background-color: rgb(52, 52, 52);
		}

		.topbar {
			margin: auto;
			width: 1000px;
			height: 120px;
		}

		.side-menu {
			text-align: right;
			padding: 20px 40px 0 0;
		}

		.side-menu a {
			font-size: 14px;
			color: #9f9f9f;
			text-decoration: none;
			margin: 0 10px;
		}

		.logo {
			display: inline-block;
			font-size: 30px;
			color: white;
			margin-left: 20px;
			margin-top: 5px;
		}

		.logo img {
			width: 40px;
			margin-right: 50px;
		}

		.menu {
			display: inline-block;
			margin-left: 20px;
		}

		.menu li {
			display: inline-block;
			color: white;
			font-size: 18px;
			padding: 0 30px;
			box-sizing: border-box;
		}
		footer {
			width: 100%;
			height: 200px;
			background-color: rgb(52, 52, 52);
		}
		footer img{
			width: 70px;
		}
		.footer-desc{
			text-align: center;
			font-size: 14px;
			color: #9f9f9f;
		}
		.footer-image-wrap{
			text-align: center;
			color:  #9f9f9f;
			margin-top: 20px;
		}
		.menu li a:hover {
			color: #f4790b;
		}
a {
			text-decoration: none;
			color: white;
		}

		a:visited {
			color: white;
		}
.slideshow {
    background-color: rgb(0, 0, 0);
    height: 560px;
    overflow: hidden;
    position: relative;
    opacity: 80%;
    min-width: 1424px;
}
#sloganmain{
	text-align: center;
	min-width:1424px;
}
#slogan1{
	width:50%;
	font-family: 'Nanum Gothic';
	box-sizing: border-box;
	display: inline-block;
}

#slogan2{
	padding-top:60px;
	padding-left:55px;
	position:relative;
	display: inline-block;
}
#slogan2 img{
	width: 600px;
}
.sloganTitle{
	background-size : 21px;
	float: left;
}	
.slogantitle{
	text-align: justify;
}
.title{
	font-size: 24px;
	position: absolute;
	z-index : 3;
	color: black;
	padding:60px 0px 0px 40px;
}
.explain{
	font-size: 36px;
	position: absolute;
	clear:both;
	z-index : 3;
	color: black;
	padding: 75px 0px 0px 40px;
	font-weight: bold;
}
	.colorbox{
	background-color: #fffaf0
	}
.slogantext{
	padding-top:6px;
	font-size : 21px;
	line-height :28px;
	font-family: "Nanum Gothic";
	color: #666;
	text-align: justify;
}
	/* .introtitle{
		position: relative;	
		width: 60px;
		height: 20px;
	}
	.introtext{
		position: relative;
	
	}
	#mod_slide{
		position: relative;
	} */
.slideshow-slides {
    height: 100%;
    position: relative;
    width: 100%;
 
    /* left は JavaScript で指定 */
}
.slideshow-slides .slide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    /* left は JavaScript で指定 */
}
.slideshow-slides .slide img {
    left: 50%; 	 	
    right:50%;
    margin-left: -965px;
    position: absolute;
    width: 100%;
    height:100%;
    right:50%;
}
#slide-1 {
	background-image: url("../img/building1.jpg");
	background-size: cover;
	background-position: center
}
 #slide-2 {
	background-image: url("../img/building2.jpg");
	background-size: cover;
	background-position: center
}
#slide-3 {
	background-image: url("../img/building3.jpg");
	background-size: cover;
	background-position: center
}
#slide-4{
	background-image: url("../img/building4.jpg");
	background-size: cover;
	background-position: center
}

.slideshow-nav a,
.slideshow-indicator a {
    background-color: rgba(0, 0, 0, 0); /* for IE9 */
    overflow: hidden;
}
.slideshow-nav a:before,
.slideshow-indicator a:before {
    content: url(../img/sprites.png);
   	 display: inline-block;
    font-size: 0;
    line-height: 0;
    background-position: -30px 0px;
    text-indent: -999em;
  
}
.slideshow-nav a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -36px;
    
}
.slideshow-nav a.disabled {
    display: none;
}

.slideshow-indicator {
    bottom: 30px;
    height: 16px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.slideshow-indicator a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
}
.slideshow-indicator a.active {
    cursor: default;
}
.slideshow-indicator a:before {
    margin-left: -110px;
}
.slideshow-indicator a.active:before {
    margin-left: -130px;
}
#quickmain{
	width: 1160px;
	min-height: 175px;
	padding: 40px 0 40px 0;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;

}

.quick1{
	position: relative;
	float: left;
	min-height: 182px;
	width: 269px;
	text-align: center;
}
.quick1 a{
	display: block;
	color: #222;
	cursor: pointer;
	border-right: 1px dashed #333;
}
.quick1-none{
	border-right: none !important;
}
.quick1 img{
	position: relative;
	top: 0;
	left: 0;
	width: 150px;
	height: 130px;

}
.quick1 dl{
	margin: 0;
	padding: 0;
	list-style: none;
	border-right: 1px dashed #333;
}
.quick1 dt{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
.quick1 dd{
	padding-top: 5px;
	color: #555;
	text-align: center;
	margin : 0;
}

.quick4{
	position: relative;
	float: left;
	min-height: 182px;
	width: 269px;
	text-align: center;	
}
.quick4 a{
	display: block;
	color: #222;
	cursor: pointer;
}
.quick4 dl{
	margin: 0;
	padding: 0;
	list-style: none;

}
.quick4 dt{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
.quick4 dd{
	padding-top: 5px;
	color: #555;
	text-align: center;
	margin : 0;
}

/* JavsScript 無効時 */
.no-js .slideshow {
    height: auto;
}
.no-js .slideshow-slides {
    height: auto;
    position: static;
}
.no-js .slideshow-slides .slide {
    display: block;
    height: auto;
    position: static;
}
.no-js .slideshow-slides .slide img {
    margin: auto;
    position: static;
}
.no-js .slideshow-nav,
.no-js .slideshow-indicator {
    display: none;
}
